@import "tailwindcss";

@keyframes scrollX {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@theme {
  --animate-scrollX: scrollX 40s linear infinite;
}

.animate-scrollX:hover {
  animation-play-state: paused;
}